{% extends 'base.html.twig' %}

{% block title %}Accueil - Philippe Popieul, auteur et professionnel de la transformation digitale
{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

<div class="background-image" style="background: url('https://philippepopieul.fr/wp-content/uploads/2023/10/q1p7bh3shj8.jpg') no-repeat center; background-size: cover;">
    <div class="overlay">
        <h1>Philippe Popieul</h1>
        <p>Philippe Popieul est un auteur polyvalent, ayant déjà écrit un ouvrage technique sur la transformation digitale et se lançant maintenant dans la préparation d’un roman de science fiction sur un sujet autour de l’intelligence artificielle. Sa diversité d’écriture reflète sa passion pour différents genres littéraires.</p>
        <a href="{{path('app_livre_index')}}" class="btn">Découvrir mes ouvrages</a>
    </div>
</div>



	<div style="height: 120vh;"></div>
	<article class="container">
		<div class="row">

			<div class="col-md-6 col-sm-12 order-md-1 order-2">
				<img src="{{ asset('img/pictures/npxxwgq33zq.jpg') }}" alt="image Biographie de philippe Popieul" class="img-fluid" style="max-width: 100%; max-height: 400px;">
			</div>

			<div class="col-md-6 col-sm-12 order-md-2 order-1 mt-5">
				<div class="card border">
					<div class="card-header">
						<h3 style="border-bottom: 2px solid black; display: inline-block; padding-bottom: 2px;">Biographie
						</h3>

					</div>

					{% for adminInfo in adminInfos %}
						<div class="card-body" style="overflow-y: auto; max-height: 500px;">
							<h2 class="card-title">{{ adminInfo.prenom }}
								{{ adminInfo.nom }}</h2>
							<p class="card-text">
								{{ adminInfo.Biographie}}
							</p>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</article>

	<div style="height: 20vh;"></div>


	<div class="carousel-container" style="background: #30588c3e; box-shadow: 0 5px 10px 3px #000000ce,0 -5px 10px 3px #000000ce; ">
		<div style="padding: 5vh 25vw;">
			<div class="row justify-content-center">
				<div class="col-12 text-center mb-5">
					<h4 class="font-size-md-30" style="border-bottom: 2px solid black; display: inline-block; padding-bottom: 2px; color: black;">
						Mes ouvrages
					</h4>
				</div>
			</div>
			<div class="container-fluid">
				<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-interval="2000">
					<div class="carousel-inner">
						<style>
							.btn-animate {
								transition: transform 0.3s ease;
							}
							.btn-animate:hover {
								transform: scale(1.1);
							}
						</style>
						{% for key, livre in livres %}
							{% if key < 3 %}
								<div class="carousel-item {% if key == 0 %}active{% endif %}">
									<div class="row mb-5 align-items-center">
										<div class="col-md-6 order-md-2">
											<img src="{{ asset('img/books-picture/' ~ livre.couverture) }}" alt="Livre" class="img-fluid">
										</div>
										<div class="col-md-6 col-12 order-md-1">
											<div class="book-info" style="color: black;">
												<h2 class="titre-font-size-sm">{{ livre.titre }}</h2>
												<p class="text-font-size-sm">{{ livre.shortDescription }}</p>
												{% for adminInfo in adminInfos %}
													<small class="">Auteur :
														{{ adminInfo.prenom }}
														{{ adminInfo.nom }}
													</small>
												{% endfor %}
												<button type="button" class="btn btn-light btn-outline-dark btn-animate d-block mt-3" onclick="window.location='{{ path('app_livre_show', {'id': livre.id}) }}'">Voir plus</button>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<button class="carousel-control-prev custom-carousel-btn d-md-block" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next custom-carousel-btn d-md-block" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
						<span class="visually-hidden">Next</span>
					</button>
					<ol class="carousel-indicators">
						{% for key, livre in livres %}
							{% if key < 3 %}
								<li data-mdb-target="#carouselExampleControls" data-mdb-slide-to="{{ key }}" {% if key==0 %} class="active" {% endif %}></li>
							{% endif %}
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</div>


	<div style="height: 50vh;"></div>


{% endblock %}
{% block javascripts %}

{% endblock %}
