{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 col-xs-3">
                <div class="container-fluid">
                    <div class="row">
                        <hr>
                        <div class="col-md-12">
                            <h1>Liste des Auteurs</h1>
                            <br>
                            <div class="admin-list">
                                {% for admin in admins %}
                                <div class="admin-item">
                                    <div class="admin-details">
                                        <p><strong>Email :</strong> {{ admin.email }}</p>
                                        <p><strong>Nom :</strong> {{ admin.nom }}</p>
                                        <p><strong>Prénom :</strong> {{ admin.prenom }}</p>
                                        <p><strong>Première image de page d'accueil :</strong> <img src="{{ asset('img/firstImageHome/') ~ admin.firstImageHome }}" class="img-fluid" alt="Image de la première page d'accueil" style="max-width: 150px;"></p>
                                        <p><strong>Image de la courte biographie :</strong></p>
                                        <p><strong>Image de ma courte biographie :</strong> <img src="{{ asset('img/ImgShortBiographie/') ~ admin.ImgShortBiographie }}" class="img-fluid" alt="Image Biographie" style="max-width: 150px;"></p>
                                        <p><strong>Courte biographie :</strong> {{ admin.shortBiographie }}</p>
                                        <p><strong>Image de ma biographie :</strong> <img src="{{ asset('img/aPropos/') ~ admin.imageBiographie }}" class="img-fluid" alt="Image Biographie" style="max-width: 150px;"></p>
                                        <p><strong>Biographie :</strong> {{ admin.biographie }}</p>
                                        <p><strong>Deuxième image pour ma biographie :</strong> <img src="{{ asset('img/second-aPropos/') ~ admin.secondImageBiographie }}" class="img-fluid" alt="Second Image Biographie" style="max-width: 150px;"></p>
                                        <p><strong>Image de présentation de mes réseaux sociaux :</strong> <img src="{{ asset('img/third-aPropos/') ~ admin.imageReseauxSociaux }}" class="img-fluid" alt="Image Réseaux" style="max-width: 150px;"></p>
                                        <p><strong>Slogan footer :</strong> {{ admin.slogan }}</p>
                                        <p><strong>Votre logo :</strong> <img src="{{ asset('img/imgLogo/') ~ admin.imgLogo }}" class="img-fluid" alt="Image Réseaux" style="max-width: 150px;"></p>
                                        <p><strong>Votre logo de transition de page :</strong> <img src="{{ asset('img/imgLogoTrans/') ~ admin.imgLogoTrans }}" class="img-fluid" alt="Image Réseaux" style="max-width: 150px;"></p>
                                        <p><strong>Crée le :</strong> {{ admin.createdAt ? admin.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                                        <p><strong>Mis a jour le :</strong> {{ admin.updatedAt ? admin.updatedAt|date('d-m-Y H:i:s') : '' }}</p>
                                            <button type="button" class="btn btn-primary" onclick="window.location='{{ path('app_admin_show', {'id': admin.id}) }}'">Voir</button>
                                            <button type="button" class="btn btn-secondary" onclick="window.location='{{ path('app_admin_edit', {'id': admin.id}) }}'">Modifier</button>
                                    </div>
                                </div>
                                {% else %}
                                <div class="admin-item">
                                    <p>Aucun enregistrement trouvé</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <hr>
    
    {# <div class="d-flex justify-content-center mb-5">
        <a href="{{ path('app_admin_new') }}" class="btn btn-primary">Créer un nouvel Auteur</a>
    </div> #}
    

{% endblock %}
