{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/marquee.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

<article>
<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <!-- Insérer votre image directement ici -->
            <img src="{{ asset('img/books-picture/') ~ livre.couverture }}" alt="Couverture du Livre" class="img-fluid" id="parallaxImage">
        </div>
        <div class="col-md-8">
            <h1 class="mb-3">{{ livre.titre }}</h1>
            <div class="" id="parallaxText">
                {% set descriptionSentences = livre.description|split('.') %}
                {% for sentence in descriptionSentences %}
                    <p class="lead">{{ sentence ~ '.' }}</p>
                {% endfor %}
            </div>
            <ul class="list-unstyled">
                <li><strong>Nombre de Pages:</strong> {{ livre.nbrPage }}</li>
                {% for adminInfo in adminInfos %}
                    <li><strong>Auteur:</strong> {{ adminInfo.prenom }} {{ adminInfo.nom }}</li>
                {% endfor %}
            </ul>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-light btn-outline-dark btn-animate" onclick="window.location='{{ path('app_livre_index') }}'">Voir mes Ouvrages</button>
            </div>
            <style>
                .btn-animate {
                    transition: transform 0.3s ease;
                }
            
                .btn-animate:hover {
                    transform: scale(1.1);
                }
            </style>


        </div>
    </div>
</div>




<div class="marquee">
    <h4 style="color: black; margin-left: 5vw; text-decoration: underline;">Cliquez sur l'une des plateformes ci-dessous pour acheter le livre :</h4>


    <ul class="marquee-content">
        {% for achatUrl in livre.achatUrls %}
        <li>
            <a href="{{ achatUrl.url }}">
                {% set domain = achatUrl.url ? achatUrl.url|extractDomainFromUrl : '' %}
                {% if domain %}
                <img src="https://www.google.com/s2/favicons?domain={{ domain }}&sz=128" alt="Icône de site">
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

</article>


{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/marquee.js')}}"></script>
<script src="{{ asset('js/livre_show.js')}}"></script>
{% endblock %}
