{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link rel="stylesheet" href="{{ asset('css/contact.css')}}"/>
{% endblock %}

{% block body %}
{% for adminInfo in adminInfos %}
<div class="slot-one">
    <img src="{{ asset('img/feuille.png') }}" alt="page de livre" class="slot-one-img">

    <div class="container slot-one-text">
        <h1>Contactez moi</h1>
        <div clas="slot-one-email">
            <p><i class="fa fa-envelope"></i> {{ adminInfo.email}}</p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.instagram.com/philippe.popieul/" rel="noopener noreferrer">
                <i class="fab fa-instagram fa-2x" style="color: #e4405f; margin-right: 20px;"></i>
            </a>
            <a href="https://www.linkedin.com/in/philippepopieul/" rel="noopener noreferrer">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>
    </div>

</div>
<div class="container d-flex justify-content-end">
    <div class="slot-two">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center py-4">Entrer en contact</h2>
                {{ form_start(contactForm) }}
                <div class="ml">
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-outline">
                            {{ form_widget(contactForm.nom, { 'attr': {'placeholder': 'Nom*'} }) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-outline">
                            {{ form_widget(contactForm.prenom, { 'attr': {'placeholder': 'Prenom*'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-outline">
                            {{ form_widget(contactForm.mail, { 'attr': {'placeholder': 'Adresse email*'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-outline">
                            {{ form_widget(contactForm.subject, { 'attr': {'placeholder': 'Sujet*'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-outline">
                            {{ form_widget(contactForm.message, { 'attr': {'placeholder': 'Votre message*'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <button id="send" class="custom-button animate__animated" type="submit">Envoyer</button>
                    </div>
                </div>
                </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block javascripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    var button = document.getElementById('send'); // Corrigé pour correspondre à l'ID du bouton
    button.onclick = function() {
        // Ajoute les classes pour l'animation
        this.classList.add("animate__animated", "animate__backOutRight");

        // Optionnel : retire les classes après que l'animation soit terminée
        this.addEventListener('animationend', function() {
            this.classList.remove("animate__animated", "animate__backOutRight");
        });
    };
});
</script>
{% endblock %}

