<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Découvrez Philippe Popieul, un auteur polyvalent, ayant déjà écrit un ouvrage technique sur la transformation digitale et se lançant maintenant dans la préparation d’un roman de science fiction sur un sujet autour de l’intelligence artificielle. Sa diversité d’écriture reflète sa passion pour différents genres littéraires.">
    <title>
        {% block title %}{% endblock %}
    </title>

    {#_______________________________________________________________FONT_AWESOME________________________________________________#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    {#_______________________________________________________________GOOGLE_FONTS________________________________________________#}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    {#___________________________________________________________________MDB________________________________________________#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet">

    {#_______________________________________________________________HEADER_MAIN_SITE________________________________________________#}
    <link href="{{ asset('css/site.css') }}" rel="stylesheet">


    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}


</head>

<body>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<nav class="navbar">
  <ul>
    <li><a href="{{ path('app_home') }}">Accueil</a></li>
    <li><a href="{{ path('app_apropos') }}">À propos</a></li>
    <li class="logo"><a href="{{ path('app_home') }}"><img src="{{ asset('img/logo/logo-entreprise.svg') }}" alt="Mon Logo"></a></li>
    <li><a href="{{ path('app_livre_index') }}">Ouvrage</a></li>
    <li><a href="{{ path('app_contact') }}">Contact</a></li>
    {% if not is_granted('ROLE_ADMIN') %}
    <li><a style="position: absolute; right: 50px; top: 5vh;" href="{{ path('app_login') }}"><i class="fas fa-user"></i></a></li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <li><a style="position: absolute; right: 50px; top: 5vh;" href="{{ path('app_admin_dashboard') }}"><i class="fas fa-tachometer-alt"></i></a></li>
    {% endif %}
</ul>
</nav>

<div style="height: 20vh;"></div>

    {% block body %}{% endblock %}
<div style="height: 30vh;"></div>


    <footer class="text-white py-5" style="background: #30588c; box-shadow: 0 5px 10px 3px #000000ce,0 -5px 10px 3px #000000ce;">    
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{{ path('app_home') }}" class="ajax">
                        <img width="160" height="100" src="{{ asset('img/logo/logo-entreprise.svg') }}"
                            alt="footer logo" data-lazy-src="{{ asset('img/logo/Logo.svg') }}" data-ll-status="loaded"
                            class="entered lazyloaded">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-black">À propos</h5>
                    <p>Votre slogan ou description brève ici.</p>
                </div>
                <div class="col-md-4 text-black">
                    <h5>Nos Ouvrages</h5>
                    <ul class="list-unstyled text-white">
                        <li><a href="#" class="text-white">Titre de l'ouvrage 1</a></li>
                        <li><a href="#" class="text-white">Titre de l'ouvrage 2</a></li>
                        <li><a href="#" class="text-white">Titre de l'ouvrage 3</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="text-black">Contactez-nous</h5>
                    <p>Email: contact@example.com<br>Téléphone: 0123456789</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- ____________________________________MDB_______________________________-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- ____________________________________NAV_______________________________-->
    <script src="{{ asset('js/nav.js') }}"></script>


{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>