{% extends 'base.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block body %}
	<h1>Livre index</h1>

	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Couverture</th>
					<th>Titre</th>
					<th>Genre</th>
					<th>Description</th>
					<th>Liens</th>
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for livre in livres %}
						<td>{{ livre.id }}</td>
						<td><img src="{{ asset('img/books-picture/') ~ livre.couverture }}" class="img-fluid" alt="Couverture" style="max-width: 150px;"></td>
						<td>{{ livre.titre }}</td>
						<td>
							{% for genre in livre.genre %}
								{{ genre.genre }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</td>
						<td>{{ livre.description }}</td>
						<td>
							{% for achatUrl in livre.achatUrls %}
								{% set domain = achatUrl.url ? achatUrl.url|extractDomainFromUrl : '' %}
								<a href="{{ achatUrl.url }}">
									{% if domain %}
										<img src="https://www.google.com/s2/favicons?domain={{ domain }}&sz=50" alt="Icône de site">
									{% endif %}
								</a>
							{% endfor %}
						</td>
						<td>{{ livre.createdAt ? livre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ livre.updatedAt ? livre.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}" class="btn btn-primary">Show</a>
							<a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}" class="btn btn-warning">Edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">No records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<a href="{{ path('app_admin_livre_new') }}">Create new</a>
{% endblock %}
