{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.couverture) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.auteur) }}
    {{ form_row(form.genre) }}

    <h3>Liens</h3>
    <div id="achatUrls" data-prototype="{{ form_widget(form.achatUrls.vars.prototype)|e('html_attr') }}">
        {% for achatUrlForm in form.achatUrls %}
            <div>
                {{ form_row(achatUrlForm.url) }}
                <button type="button" class="btn btn-danger" onclick="removeAchatUrl(this)">Supprimer</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" class="btn btn-primary" onclick="addAchatUrl()">Ajouter un lien</button>
    <button type="submit" class="btn btn-success">Envoyer</button>
    
    {{ form_rest(form) }}
{{ form_end(form) }}

<script>
    var index = $('#achatUrls').children().length; // Initial index

    function addAchatUrl() {
        var prototype = $('#achatUrls').data('prototype');
        var newForm = prototype.replace(/__achat_urls_prototype__/g, index);
        $('#achatUrls').append(newForm);
        index++; // Increment index for the next form
    }

    function removeAchatUrl(button) {
        $(button).closest('div').remove();
    }

    // Function to reset the achatUrls field
    function resetAchatUrls() {
        $('#achatUrls').empty();
        index = 0; // Reset index to 0
    }
</script>
{% endblock %}


